.front {
    height: 85vh;
    background-image: url('../../media/img/notebook-picture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.front .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}
.front .container h1,
.front .container p,
.front .container ul li {
    color: #FFF;
    text-shadow: 3px 3px 10px #000;
}
.container ul li {
    list-style-type: none;
}
.container ul li a {
    text-decoration: none;
    color: #FFF;
}
.container ul li a:hover {
    color: #4169E1;
}