body {
    background-color: #F5F5F5;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #87CEFA;
}
ul li a {
    color: #778899;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #000;  
}
.logo a:hover {
    color: #4169E1;
}
